Repository peaceiris/actions-label-commenter, pull requests merged in 2022-10, with the labels that each got.

#612 docs: add note about changed action triggers
  README.md
Labels: documentation

#641 Revert "deps: bump @octokit/types from 6.34.0 to 8.0.0"
  dist/index.js
  dist/index.js.map
  package-lock.json
  package.json
Labels: dependencies

#643 ci: use actions-github-app-token v1.1.3
  .github/workflows/label-commenter.yml
  .github/workflows/labeler.yml
Labels: cicd
